@charset "utf-8";
/* CSS Document */

.red-text {color:#e22e01;}
.white-text {color:#fff;}
.image-left {float:left; margin-right:20px;}
.image-right {float:right; margin-left:20px;}
.table-development {width:50%; height:151px;}
.table-development img {clear:left; margin-bottom:20px;}
p.normal-width img {width:auto;}

body {
  font-family: 'Cantata One', serif;
  font-size:14px;
  line-height:1em;
  color:#252525;
  font-weight:bold;
  text-shadow:1px 0px 1px #ccc;}
h1, h2, h3 {
  color:#252525;
  text-transform:none;
  margin:0;
  font-weight:bold;
  text-rendering:optimizelegibility;}
h1 {font-size:24px; line-height:1.5em; padding:.25em 0 .5em;}
h2 {font-size:16px; line-height:1.5em; padding:.5em 0 1em; font-weight:normal;}
h3 {font-size:17px; line-height:1.5em; padding:.5em 0 1em;}
p, td, a, li {font-size:14px; line-height:1.4em; font-weight:normal; font-style:italic;}
a {color:#252525; font-style:normal;}
a:hover {color:#252525; text-decoration:underline;}
ul, ol {padding:0; margin:0 0 0 40px;}
p, ul, ol {margin-bottom:1em;}
ul {list-style:disc;}
ol {list-style:decimal;}
ul ul, ul ol, ol ol, ol ul {margin-bottom:0;}

#development hr {clear:both; border:none;}
#development h2 a {font-weight:bold;}
#development h2 {padding:5px 0; padding-left:10px;}
#development p {font-size:12px; padding-left:10px;}
footer h3, footer h3 a {font-size:15px; padding:0 0 .25em 0; font-weight:bold;}

/*=== Responsive Styles ===*/
@media (max-width: 480px) {
	.table-development {width:100%; height:auto; position:relative;}
	}
@media (max-width: 767px) {
	.table-development {width:100%; height:auto; position:relative;}
	}
@media (min-width: 768px) and (max-width: 979px) {
	.table-development {width:100%; height:auto; position:relative;}
	}
@media (max-width: 979px) {}
@media (min-width: 980px) {}
@media (min-width: 1200px) {
	.table-development {width:50%; height:187px; position:relative;}
/*	.image-left {margin-right:25px;}
	.image-left {margin-right:25px;}
	h1 {font-size:25px;}
	h2 {font-size:24px;}
	h3 {font-size:20px;}
	p, td, a, li {font-size: 16px;}	*/
}